<!-- Log in or sign up template -->
<h4 class="pb-4">Sign up or log in for the latest articles and share your
  expertise with a community of coders.</h4>

<div class="row">
  <div class="col-md-6 col 12">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-control" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-control" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="mt-4" type="submit">Login</button>
      </div>
      <p class="incorrect p-2 m-2 text-danger"><em>Incorrect email or password,
          please try again is incorrect</em></p>
    </form>
  </div>
  <div class="col-md-6 col-12">
    <h2>Sign Up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">User Name:</label>
        <input
          placeholder="Enter a display name"
          class="form-control"
          type="text"
          id="name-signup"
        />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="mt-4" type="submit">
          Sign Up
        </button>
      </div>
      <div class="invalid p-2 m-2 text-danger">
        <p><em>Please enter a valid email or password. Password should be at
            least 8 characters long.</em></p>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>